section.about
    div.wrapper
        h1.title Обо мне
        img.about__avatar.wow.zoomIn(src="assets/avatar.jpg")

        p.about__text.wow.fadeInUp.
            Меня зовут Виталий, я проживаю в городе Одесса и я web-разработчик. Занимаюсь разработкой landing
            страниц, сайтов-визиток, интернет-магазинов и web-приложений.
            <br><br>
            Каждый день совершенствую свои навыки, учусь новому и общаюсь с людьми у которых
            я могу чему-то научиться.
            <br><br>
            Мне нравится работать над необычными проектами, в ходе разрабоки которых можно
            узнать что-то новое. Также я всегда открыт для связи!