html
    head
        title Welcome:)
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="css/fonts/font-awesome/css/font-awesome.min.css")
        link(href="css/animate.css" rel="stylesheet")
        link(rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="js/slider/slick/slick.css")
        link(rel="stylesheet", href="css/main.css")
        style.
            .header{position: fixed;}
    body
        div.preloader
            img(src="assets/preloader.gif")
        div.page-wrapper
            include header.pug
            include s_preview.pug
            include about.pug
            include works.pug
            include skills.pug
            include contacts.pug
    script(src="js/libs/jquery.min.js")
    script(src="js/parallax/parallax.min.js")
    script(src="js/libs/wow.js")

    script(src="js/slider/slick/slick.min.js")
    script(src="js/main.js")