section.preview.parallax-window
    div.preview__greeting.wow.fadeInLeft
        h1.preview__animtext Привет, меня зовут Виталий <br> и я 
            span Web-разработчик
        
        div.preview__button
            a() Связаться со мной

    div.preview__arrow_down
        <i class="fa fa-angle-double-down fa-lg" aria-hidden="true"></i>