section.skills
    div.wrapper
        h1.title Чем я пользуюсь
        ul.skills__list
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/html.png", alt="html")
                span HTML, CSS, JS
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/sass.png", alt="sass")
                span Sass
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/pugjs.png", alt="pug")
                span Pug
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/ps.png", alt="ps")
                span Photoshop
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/react.png", alt="react")
                span React
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/redux.png", alt="redux")
                span Redux
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/webpack.png", alt="webpack")
                span Webpack
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/php.png", alt="php")
                span PHP
            li.skills__item.wow.jackInTheBox
                img(src="assets/tools/MySQL.svg", alt="mysql")
                span MySQL