section.works
    div.wrapper
        h1.title Мои работы
        div.slider
            div.slider__arrow.slider__arrow-prev.slick-arrow.slick-prev <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
            div.slider__arrow.slider__arrow-next <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
            div.slider-wrapper
                div.slider__item
                    img(src="assets/works/laptop.png")
                    div.slider__item-text.
                        Сайт фармацевтической компании был выполнен по предоставленному макету. Вёрстка была выполена без использования сторонних
                        библиотек и фреймворков. <strong> Pure HTML5, CSS3, JS </strong><br/>Основная часть работы была уделена разработке системы управления контента(CMS)
                        спроектированной по моделе MVC.
                        Используемые технологии:<strong> PHP7, MySQL, SQL.</strong>
                    div.slider__item-showAll 
                        a(href="http://sof-zdorovie.com.ua/" target="_blank") Подробнее
                div.slider__item
                    img(src="assets/works/work2.png")
                    div.slider__item-text Интернет магазин разработанный для CMS PrestaShop. Полностью адаптивный дизайн.<br> <strong> Используемые технологии: HTML, CSS3, JS(jQuery), PHP5, MySQL, SQL, Bootstrap3.</strong>
                    div.slider__item-showAll 
                        a(href="http://www.ladywear.od.ua/index.php" target="_blank") Подробнее
                div.slider__item
                    img(src="assets/works/work3/work3.png")
                    div.slider__item-text Данный проект был выполнен в ознакомительных целых для практики. Были использованны такие технологии: 
                        strong Pure HTML, CSS, jQuery.
                    div.slider__item-showAll 
                        a(href="assets/works/work3/index.html" target="_blank") Подробнее
                

                    
            