.works
    text-align: center
    font-family: Comfortaa
    padding-bottom: 30px
    position: relative
    background-color: $secBgCrWhite
    @media screen and (max-width: 900px)
        padding: 0px
    @media screen and (max-width: 450px)
        font-size: 14px
    .title
        color: #1a1a1a
    .slider
        @media screen and (max-width: 445px)
            padding: 0px 20px
            cursor: pointer
        .slick-list
            overflow: visible
        &__item
            text-align: left
            padding: 0px 60px
            box-sizing: border-box
            height: auto
            padding-bottom: 30px
            outline: none
            display: flex
            justify-content: space-around
            @media screen and (max-width: 800px)
                width: 100%
                flex-wrap: wrap
                padding: 0px
                overflow: hidden
                box-sizing: content-box
                .slider__img, .slider__descr
                    flex-basis: 80%
                .slider__img img
                    width: 100%
            @media screen and (max-width: 450px)

                .slider__img
                    transform: none
                    margin: 0px
        &__img
            flex-basis: 60%
            box-sizing: border-box
            transform: perspective(450px) rotateY(20deg) rotate(-5deg)
            transition: transform 600ms
            margin: 20px
            img
                margin: auto
                width: 80%
                max-width: 600px
                position: relative
                z-index: 10000
                box-shadow: -20px 20px 20px #e5e5e5
                transform: scale(0.9)
                transition: all 600ms
                @media screen and (max-width: 1200px)
                    width: 100%
            &:hover
                animation: none
                transform: perspective(500px) rotateY(0deg) rotate(0deg)
                img
                    box-shadow: 0px 0px 20px #e5e5e5
                    transform: scale(1.0)
        &__descr
            flex-basis: 40%
            padding-top: 40px
        &__text
            line-height: 1.6em
            display: block
            color: #6b6b6b
        &__showAll
            display: inline-block
            box-shadow: 0px 2px 3px #b7b7b7
            border-radius: 5px
            background-color: #ededed
            margin-top: 20px
            cursor: pointer
            font-weight: bold
            letter-spacing: 2px
            transition: all 200ms
            &:hover
                transform: translateY(-3px)
                box-shadow: 0px 4px 3px #b7b7b7
            &:active
                transform: translateY(2px)
                box-shadow: 0px 0px 3px #b7b7b7
            a
                display: inline-block
                position: relative
                padding: 15px 20px
                outline: 0px
                color: #919191

        ul.slick-dots
 
            li
                display: inline-block
                margin: 0px 5px
                border: solid 3px #b7b7b7
                border-radius: 100px
                button
                    font-size: 0px
                    border-radius: 1000px
                    outline: none
                    width: 15px
                    height: 15px
                    padding: 0px
                    border: solid 3px #ededed
                    background-color: #ededed
                    cursor: pointer
                    float: left
            li.slick-active
                button
                    background-color: #333

        &__arrow
            position: relative
            top: 140px
            text-align: center
            z-index: 1000
            cursor: pointer
            margin: 0px 15px
            transition: all 200ms
            display: none !important
            @media screen and (min-width: 445px)
                display: block !important
            &:hover
                transform: scale(1.2)
                transition: all 200ms
        &__arrow-prev
            float: left
        &__arrow-next
            float: right
       
            
